{% extends "base.html" %}
{% block title %}Messages - SoulSwipe{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
{% endblock %}
{% block content %}
<h2>Start a Conversation</h2>
<ul>
    {% for user in users %}
        <li>
            {{ user['username'] }}
            <a href="{{ url_for('routes.messages_with_recipient', recipient_id=user['id']) }}">Message</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}